<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Azenta Template">
    <meta name="keywords" content="Azenta, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weddingzz | Halls</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    
      <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
     <!-- Icon Font Stylesheet -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
 
</head>

<b>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


  
    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <nav class="main-menu">

                            <ul>

                                <li> <a href="#" class="partner-logo">
                                    <div class="partner-logo-tablecell">
                                        <img src="{% static  'main/img/partner/partner-2.png' %}" alt="">

                                    </div>
                                </a>
                                <li><a href="/user/user-dashboard.html">Dashboard</a></li>
                                <li  class="active"><a href="/user/property-types.html">Properties</a></li>
                                <li><a href="/user/add-properties.html">Add Properties</a></li>
                                <li><a href="/user/profile.html">Profile</a></li>
                                <li><a href="/user/feedback.html">Feedback</a></li>
                            </ul>
                        </nav>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="top-right mt-2">
                            <div class="language-option">
                               
                                <span>MY ACCOUNTS</span>
                                <i class="fa fa-angle-down"></i>
                                <div class="flag-dropdown">
                                    <ul>
                                        
                                        <li><a href="/user/my-properties.html">My Properties</a></li>
                                        <li><a href="/user/my-bookings.html">My Bookings</a></li>
                                        <li><a href="/user/appointment.html">Appointments</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <a href="/main/index.html" class="property-sub">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section contact-page " style="background-color:black">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-text">
                            <h2>Dashboard</h2>
                            <div class="breadcrumb-option">
                                <a href="#"><i class="fa fa-home"></i> Home</a>
                                <span>Dashboard</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section Begin -->


        </div>
    </header>
    <!-- Header End -->
 
   <!-- Types Section Begin -->
   <section class="agent-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>We Are To Help You</span>
                    <h2>Property Types</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="agent-carousel owl-carousel">
                <div class="col-lg-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="/user/rooms/house1.jpg" alt="">
                            <div class="hover-social">
                                <a href="/user/houses.html" class="twitter"><i><img style="width:20px;height:20px;" src="/user/icon/house.png"></i></a>
                                <a href="/user/houses.html" class="instagram"><i> <img style="width:20px;height:20px;" src="/user/icon/home.png"></i></a>
                                <a href="/user/houses.html" class="facebook"><i><img style="width:20px;height:20px;" src="/user/icon/building.png"></i></a>
                            </div>
                        </div>
                        <h5>Houses</h5>
                    </div>
                </div>
               
                <div class="col-lg-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="/user/rooms/house5.jpg" alt="">
                            <div class="hover-social">
                                <a href="/user/houses.html" class="twitter"><i><img style="width:20px;height:20px;" src="/user/icon/house.png"></i></a>
                                <a href="/user/houses.html" class="instagram"><i> <img style="width:20px;height:20px;" src="/user/icon/home.png"></i></a>
                                <a href="/user/houses.html" class="facebook"><i><img style="width:20px;height:20px;" src="/user/icon/building.png"></i></a>
                            </div>
                        </div>
                        <h5>Apartments</h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="/user/rooms/house6.jpg" alt="">
                            <div class="hover-social">
                                <a href="/user/houses.html" class="twitter"><i><img style="width:20px;height:20px;" src="/user/icon/house.png"></i></a>
                                <a href="/user/houses.html" class="instagram"><i> <img style="width:20px;height:20px;" src="/user/icon/home.png"></i></a>
                                <a href="/user/houses.html" class="facebook"><i><img style="width:20px;height:20px;" src="/user/icon/building.png"></i></a>
                            </div>
                        </div>
                        <h5>Villa</h5>
                    </div>
                </div>
               
                <div class="col-lg-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="/user/rooms/house9.jpg" alt="">
                            <div class="hover-social">
                                <a href="/user/houses.html" class="twitter"><i><img style="width:20px;height:20px;" src="/user/icon/house.png"></i></a>
                                <a href="/user/houses.html" class="instagram"><i> <img style="width:20px;height:20px;" src="/user/icon/home.png"></i></a>
                                <a href="/user/houses.html" class="facebook"><i><img style="width:20px;height:20px;" src="/user/icon/building.png"></i></a>
                            </div>
                        </div>
                        <h5> Shops</h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="/user/rooms/house10.jpg" alt="">
                            <div class="hover-social">
                                <a href="/user/houses.html" class="twitter"><i><img style="width:20px;height:20px;" src="/user/icon/house.png"></i></a>
                                <a href="/user/houses.html" class="instagram"><i> <img style="width:20px;height:20px;" src="/user/icon/home.png"></i></a>
                                <a href="/user/houses.html" class="facebook"><i><img style="width:20px;height:20px;" src="/user/icon/building.png"></i></a>
                            </div>
                        </div>
                        <h5>PG & Hostels</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="/user/rooms/room13.jpg" alt="">
                            <div class="hover-social">
                                <a href="/user/houses.html" class="twitter"><i><img style="width:20px;height:20px;" src="/user/icon/house.png"></i></a>
                                <a href="/user/houses.html" class="instagram"><i> <img style="width:20px;height:20px;" src="/user/icon/home.png"></i></a>
                                <a href="/user/houses.html" class="facebook"><i><img style="width:20px;height:20px;" src="/user/icon/building.png"></i></a>
                            </div>
                        </div>
                        <h5>Buildings</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="/user/rooms/house2.jpg" alt="">
                            <div class="hover-social">
                                <a href="/user/houses.html" class="twitter"><i><img style="width:20px;height:20px;" src="/user/icon/house.png"></i></a>
                                <a href="/user/houses.html" class="instagram"><i> <img style="width:20px;height:20px;" src="/user/icon/home.png"></i></a>
                                <a href="/user/houses.html" class="facebook"><i><img style="width:20px;height:20px;" src="/user/icon/building.png"></i></a>
                            </div>
                        </div>
                        <h5> Offices</h5>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="/user/rooms/land1.jpg" alt="">
                            <div class="hover-social">
                                <a href="/user/houses.html" class="twitter"><i><img style="width:20px;height:20px;" src="/user/icon/house.png"></i></a>
                                <a href="/user/houses.html" class="instagram"><i> <img style="width:20px;height:20px;" src="/user/icon/home.png"></i></a>
                                <a href="/user/houses.html" class="facebook"><i><img style="width:20px;height:20px;" src="/user/icon/building.png"></i></a>
                            </div>
                        </div>
                        <h5> Lands & Plots</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Types Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="#"><img src="img/footer-logo.png" alt=""></a>
                            </div>
                            <p>Subscribe our newsletter gor get notification about new updates.</p>
                            <form action="#" class="newslatter-form">
                                <input type="text" placeholder="Enter your email...">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="footer-widget">
                            <h4>Property City</h4>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Florida</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">New York</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Washington</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Los Angeles</a></li>
                            </ul>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">St Louis</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Jacksonville</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Jose</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">San Diego</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h4>Social</h4>
                            <ul class="social">
                                <li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
                                <li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
                                <li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
                                <li><i class="ti-google"></i> <a href="#">Google+</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4>Contact Us</h4>
                            <ul class="contact-option">
                                <li><i class="fa fa-map-marker"></i> 16 Creek Ave. Farming, NY</li>
                                <li><i class="fa fa-phone"></i> (+88) 666 121 4321</li>
                                <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                                <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-text">
                <p>
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="ti-heart" aria-hidden="true"></i>  <a href="https://colorlib.com"
                        target="_blank "></a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                </p>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    </body>

</html>